<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Women count</title>

    <link rel="icon" href="http://womencountbd.org/favicon.ico" type="image/x-icon">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.bootstrap3.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/leaflet.css">
    <link rel="stylesheet" href="/styles/select.min.css">
    <!--STYLES END-->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/select.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="fonts/Josefin-Sans/stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-66793883-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>

<body ng-controller="NavController">
<div class="container">
    <div class="topinfo pull-right" >
 <button class="btn btn-sm" ui-sref="home.downloadmeterials" style="margin-right: 10px;cursor: pointer;display: none;">Get YOUR Campaign resources Here</button>
  <a ng-click="changeLanguage('bn_BN')" translate="BUTTON_LANG_BN" href >BN</a> |
        <a ng-click="changeLanguage('en_EN')" translate="BUTTON_LANG_EN" href >EN</a>
    </div>
</div>
<%- body %>
</body>
<!-- Fixed navbar -->




</html>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>



<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src="bower_components/ng-table/dist/ng-table.min.js"></script>
<script src="js/app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular-scroll.js"></script>
<script src="/js/dependencies/leaflet.js"></script>
<script src="/js/dependencies/select.min.js"></script>
<script src="/js/angular-leaflet-directive.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/AppFourGenderGapController.js"></script>
<script src="/js/controllers/DownloadsController.js"></script>
<script src="/js/controllers/ModalInstanceController.js"></script>
<script src="/js/controllers/PhasethreeController.js"></script>
<script src="/js/controllers/PhasetwoController.js"></script>
<script src="/js/controllers/PledgcountformController.js"></script>
<script src="/js/controllers/PressconferenceController.js"></script>
<script src="/js/controllers/allControllers.js"></script>
<script src="/js/controllers/navController.js"></script>
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/localization/bn_BN-org.js"></script>
<script src="/js/localization/bn_BN.js"></script>
<script src="/js/localization/en_EN-org.js"></script>
<script src="/js/localization/en_EN.js"></script>
<script src="/js/routes.js"></script>
<!--SCRIPTS END-->

<script src="/bower_components/angular-translate/angular-translate.js"></script>

