<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>City Corp Elections</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="/bower_components/angular-motion/dist/angular-motion.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">


<!--STYLES-->
<link rel="stylesheet" href="/styles/animate.css">
<link rel="stylesheet" href="/styles/app.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/leaflet.css">
<link rel="stylesheet" href="/styles/select.min.css">
<!--STYLES END-->
<link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.css" />
<link rel="stylesheet" href="/fonts/ultra/stylesheet.css" />
 </head>
 <body>
 <%- body %>
  </body>
</html>

   <script src="/bower_components/jquery/dist/jquery.min.js"></script>


<script src="/bower_components/angular/angular.min.js"></script>

<script src="/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/bower_components/ng-file-upload/angular-file-upload.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/ng-csv/build/ng-csv.min.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>

<script src="/vendors/wowjs/wow.min.js"></script>
<script src="/vendors/sails-socket-client/sails.io.js"></script>
<script src="/vendors/leafletjs/angular-leaflet-directive.min.js"></script>
<script src="/vendors/angular-scroll/angular-scroll.min.js"></script>

<script src="/vendors/leafletjs/leaflet.js"></script>
<script src="/vendors/ng-table/ng-table.min.js"></script>
<script src="/vendors/selectjs/select.min.js"></script>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular-scroll.js"></script>
<script src="/js/dependencies/leaflet.js"></script>
<script src="/js/dependencies/select.min.js"></script>
<script src="/js/angular-leaflet-directive.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers/AppFourGenderGapController.js"></script>
<script src="/js/controllers/DownloadsController.js"></script>
<script src="/js/controllers/ModalInstanceController.js"></script>
<script src="/js/controllers/PhasethreeController.js"></script>
<script src="/js/controllers/PhasetwoController.js"></script>
<script src="/js/controllers/PledgcountformController.js"></script>
<script src="/js/controllers/PressconferenceController.js"></script>
<script src="/js/controllers/allControllers.js"></script>
<script src="/js/controllers/navController.js"></script>
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/localization/bn_BN-org.js"></script>
<script src="/js/localization/bn_BN.js"></script>
<script src="/js/localization/en_EN-org.js"></script>
<script src="/js/localization/en_EN.js"></script>
<script src="/js/routes.js"></script>
<!--SCRIPTS END-->

    <script>
        $(document).ready(function() {
            if ($('html').hasClass('desktop')) {
                new WOW().init();
            }
        });
    </script>
<script>
 new WOW().init();
</script>
<script src="/js/dependencies/jquery.countdown.js"></script>

    <script src="/js/dependencies/inewsticker.js"></script>

    <script src="/js/dependencies/owl.carousel.min.js"></script>
    <script>

        $(document).scroll(function() {
            if ($(this).scrollTop() > 20)
            {
                $(".large_menu").addClass('normal_menu');
                //$("#logo_name").show():


            }
            else {
                $(".large_menu").removeClass('normal_menu'); // Add brandnewclass for transition effects while returning back to the previous state.\
              //  $("#logo_name").hide():
            }

        });
    </script>






<style>
    #scroll_top {
        background: none repeat scroll 0 0 #4D7886;
        bottom: 200px;
        color: #FFFFFF;
        display: none;
        font-weight: bold;
        opacity: 0.8;
        padding: 15px 20px;
        position: fixed;
        right: 0;
        z-index:100;
    }
</style>

<a id="scroll_top"  href="#top" class="scrollup"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript">
    $(document).ready(function() {



        $(window).scroll(function() {
            if ($(this).scrollTop() > 600) {
                $('#scroll_top').fadeIn();
            } else {
                $('#scroll_top').fadeOut();
            }
        });



        $("a[href='#top']").click(function() {
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        });

    });
</script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61182850-1', 'auto');
 // ga('send', 'pageview');

</script>
