
<div class="container" style="" id="map_container">

    <div class="row">
        <div class="row">
            <div class="col-md-4" id="women_logo">

                <img class="img-responsive " src="images/women-logo-isolated.png" />



            </div>
            <div class="col-md-8" id="women_count">
                <img class="img-responsive " style="" src="images/count-isolated.png" />

            </div>

        </div>

        </div>


    <div class="row">
        <div class="col-md-3" id="map_left_column" style="min-height: 500px;">
           <h3 id="missing_text">558,103 Women were missing from the last voter list</h3>
            <h1 id="pledge">Sign the pledge</h1>
        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative" >
            <div ui-view style="width:100%">
                 <div style=" "  ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="">
                            <h4 class="map_header_h4">{{missfem}} Women were not enrolled in {{name}} district in 2014</h4></li>


           

                </div>
                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>
           </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="wom_slide" style="height: auto;" ng-controller="CarouselDemoCtrl">


            <carousel interval="myInterval">
                <slide active="slide.active">
                    <div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-1.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-2.JPG"/>
                        </div>
                        <div class="col-md-4">
                                <img class="img-thumbnail" src="slide/images/slide-3.JPG"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                     <div class="col-md-4">
                        <img class="img-thumbnail" src="slide/images/slide-4.JPG"/>
                    </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-5.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-6.JPG"/>
                        </div>
                    </div>

                </slide>

                <slide>
                    <div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-7.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-8.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-9.JPG"/>
                        </div>
                    </div>

                </slide>
                <slide>
                    <div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-10.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-11.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-12.JPG"/>
                        </div>
                    </div>

                </slide>
                <slide>
                    <div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-13.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-14.JPG"/>
                        </div>
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="slide/images/slide-15.JPG"/>
                        </div>
                    </div>

                </slide>



</carousel>




        </div>
    </div>


</div>
<style>
    tr.vu_data td{text-align: right}

</style>

