
<div class="container" style="" class="map_container">

    <div class="row">
        <div class="col-md-12" id="women_logo">
          <div id="wo_round">
             <img class="img-responsive " src="images/women-logo.png" />
          </div>


        </div>

        </div>


    <div class="row">
        <div class="col-md-3" id="map_left_column" style="min-height: 500px;">
  


        </div>





        <div class="col-md-9" id="map_right_column" style="position:relative" >



            <div ui-view style="width:100%">
                
                <div  ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="">

                            <h4 class="map_header_h4">District : {{name}}</h4></li>



                        <h5>
                            <span class="badge pull-right">{{gap}}%</span>
                            Gender Gap (%) 
                        </h5>
                        <h5 >
                            <span class="badge pull-right ">( {{femper}}%)</span>
                            <span class="badge pull-right ">{{feminc}}</span>
                            
                            New Female Voters &nbsp;&nbsp; 
                        </h5>
                        <h5 >
                            <span class="badge pull-right">( {{maleper}}% )</span>
                            <span class="badge pull-right">{{maleinc}}</span>
                            
                            New Male Voters
                        </h5>
           

                </div>
                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>

            </div>


            <table ng-table="tableParams"  class="map_table table table-hover table-striped">




                <tr class="vu_data" ng-repeat="dist in $data"  >

                    <td data-title="'District'" sortable="'name'" ng-click="selectMe(dist.feature_id)"><a  >{{dist.name}}</a></td>

                    <td data-title="'Existing Voters'" sortable="'totla_voters'">{{dist.totla_voters}}</td>
                    <td data-title="'New Female'" sortable="'female_inc_num'">{{dist.female_inc_num}}</td>
                    <td data-title="'New Female(%)'" sortable="'femail_inc_per'">{{dist.femail_inc_per}}</td>
                    <td data-title="'New Male'" sortable="'male_inc_num'">{{dist.male_inc_num}}</td>
                    <td data-title="'New Male(%)'" sortable="'male_inc_per'">{{dist.male_inc_per}}</td>
                    <td data-title="'Total New Voters'" sortable="'totla_inc_num'">{{dist.totla_inc_num}}</td>
                    <td data-title="'Total New Voters(%)'" sortable="'total_inc_per'">{{dist.total_inc_per}}</td>
                    <td data-title="'Gender Gap(%)'" sortable="'M_F_DIFF'">{{dist.M_F_DIFF}}</td>

                </tr>

            </table>



        </div>
    </div>
</div>
<style>
    tr.vu_data td{text-align: right}

</style>

