
<div class="container" style="" id="map_container">

    <div class="row" style="padding-left: 0">

            <div class="col-md-3" id="women_logo" style="padding-left: 0">
                <img class="img-responsive " ng-src="{{'women_logo'|translate}}"  />
            </div>
            <div class="col-md-9" id="women_count">
                <img class="img-responsive " ng-src="{{'count_logo'|translate}}" style=""  />

            </div>



    </div>


    <div class="row">
        <div class="col-md-3" id="map_left_column" style="min-height: 500px;">
            <h3 id="missing_text">{{'558,103 Women were missing from the last voter list'|translate}}</h3>

            <div style="min-height: 217px;width: 100%">

                <div ng-hide="showdfme" class=" animated1 lightSpeedIn map_side_pop_div" style="height: 217px; ">
                    <h4 class="map_header_h4" style="height: 100%;">{{'Scroll-over-your-district'|translate}}</h4>

                </div>





                <div style=" "  ng-show="showme" class=" animated1 lightSpeedIn map_side_pop_div" style="">
                    <h4 class="map_header_h4">{{'District'|translate}} : {{name |translate}}</h4>
                    <img class="img-circle" style="max-width:40%;margin: 0 auto;display: block;"  src="images/women-avatar.png">
                    <h4 class="map_header_h4">{{missfem |translate}} {{'missing-from-role'|translate}}</h4>
                </div>
            </div>

            <h1 id="pledge">
                <a href="" ui-sref="home.pledgcountform" >
                    <img class="img-responsive " ng-src="{{'sign-pl-img'|translate}}" style=""  />

                </a>


            </h1>

            <h1 id="presscon">
                <a href="" ui-sref="home.pressconference" >
                    <img class="img-responsive " ng-src="{{'presscon-img'|translate}}" style=""  />

                </a>


            </h1>


           <div class="count_pop_div1" style=" display: none;">
            <h3 id="count">{{'Count'|translate}} :{{$root.recount}}</h3>
           </div>

        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative" >
            <div ui-view style="width:100%">

                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>
            </div>


            <button ui-sref="home" style=" float: left; display: block;margin: 10px 70px 0 0;"   class=" btn btn-primary "  >{{'back-home'|translate}}</button>

            <button ui-sref="home.phasetwo" style=" float: left; display: block;margin: 10px 60px 0 10px;"   class=" btn btn-primary "   >{{'phasetwo-map'|translate}}</button>


            <button style="float: left;margin: auto;margin: 10px 60px 0 10px;"  ng-click="toggle()" value="Toggle" class=" btn btn-primary " id="downlo-blt22"  >{{'Campaign-resources-btn'|translate}}</button>

            <button ui-sref="home.phasethree" style=" float: left; display: block;margin: 10px 0 0 0px;"   class=" btn btn-primary " id=""  >{{'phasethree-map'|translate}}</button>


            <div style=" clear: both;"></div>


            <div style=" display: none;" class="div1" toggle>
                <div class="page-header" style=" margin-top: 0;margin-bottom: 0em;">
                    <h2 style=" margin-top: 30px;">{{'Downloads'|translate}} </h2>



                </div>
                <div class="row" style=" padding: 0 15px">

                    <div class="col-md-12" id="downleft" style=" background-color: none;">
                        <h4 style=" display: none;">{{'BANGLA'|translate}}</h4>


                        <ul>
                            <li style=" list-style-type: none;"><h4 style=" text-align: left;margin-left: -17px;">{{'Document'|translate}}</h4></li>

                            <li><a target="_self" href="downloads/voter-information-info-graph.pdf" download="voter-information-info-graph.pdf">{{'voter-information-info-graph'|translate}}</a></li>
                            <li><a target="_self" href="downloads/Voter-List-Update-Information-EN.pdf" download="Voter-List-Update-Information-EN.pdf">{{'Voter-List-Update-Information-EN'|translate}}</a></li>
                            <li><a target="_self" href="downloads/Voter-List-Update-Information-BN-new.pdf" download="Voter-List-Update-Information-BN.pdf">{{'Voter-List-Update-Information-BN'|translate}}</a></li>

                            <li><a target="_self" href="downloads/Fact-Sheet-on-Voter-Registration-Process-EN.pdf" download="Fact-Sheet-on-Voter-Registration-Process-EN.pdf">{{'Fact-Sheet-on-Voter-Registration-Process-EN'|translate}}</a></li>
                            <li><a target="_self" href="downloads/Fact-Sheet-on-Voter-Registration-Process-BN.pdf" download="Fact-Sheet-on-Voter-Registration-Process-BN.pdf">{{'Fact-Sheet-on-Voter-Registration-Process-BN'|translate}}</a></li>


                            <li><a target="_self" href="downloads/Press-Statement-August-20-2015-EN.pdf" download="Press-Statement-August-20-2015-EN.pdf">{{'Press-Statement-August-20-EN'|translate}}</a></li>
                            <li><a target="_self" href="downloads/Press-Statement-August-20-2015-BN.pdf" download="Press-Statement-August-20-2015-BN.pdf">{{'Press-Statement-August-20-BN'|translate}}</a></li>





                        </ul>



                        <ul>
                            <li style=" list-style-type: none;"><h4 style=" text-align: left; margin-left: -17px;">Update on the Electoral Roll from the Election Commission Bangladesh</h4></li>


                        </ul>

                        <div style="height: 100px;overflow-y: scroll;">

                            <ul>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/973.pdf" >সংবাদ বিজ্ঞপ্তি : ভোটার তালিকা হালনাগাদ সম্পর্ক</a> </li>

                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/971.PDF">পরিপত্র-২ (ভোটার তালিকা হালনাগাদ ২০১৫ সুষ্ঠু ও সুচারুরূপে সম্পন্নের লক্ষ্যে প্রয়োজনীয় করণীয়)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/970.PDF" >পরিপত্র-১ (ভোটার তালিকা হালনাগাদ ২০১৫ কার্যক্রমে স্থানীয় জনপ্রতিনিধিদের অংশগ্রহণ) </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/969.pdf" >ভোটার তালিকার সময় সূচী</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/968.PDF" >প্রজ্ঞাপন (উপজেলা সমন্বয় কমিটি প্রতিস্থাপন)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/966.PDF">ভোটার তালিকা হালনাগাদ-২০১৫ এর পর্যায় পরিবর্তন</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/863.PDF">প্রজ্ঞাপন (সমন্বয় কমিটি)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/862.PDF" >ভোটার তালিকা হালনাগাদকরণ কার্যক্রম ২০১৫ মনিটর প্রসংগে।</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/860.PDF">ভোটার তালিকা হালনাগাদকরণের সময়সূচী</a></li>
                                <li><a target="blank" href="http://ec.org.bd/NewsFilesEng/250.pdf">ভোটার তালিকা হালনাগাদ কার্যক্রমের সার-সংক্ষেপ </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/230.pdf">ভোটার তালিকা হালনাগাদ ২০১৫</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/469.PDF" >প্রজ্ঞাপন (সংশোধিত)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/468.PDF">প্রজ্ঞাপন (সংশোধিত)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/467.PDF" >সংশোধনকারী কর্তৃপক্ষ নিয়োগ সংক্রান্ত প্রজ্ঞাপন (সংশোধিত)।</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/463.PDF">সংশোধনকারী কর্তৃপক্ষ নিয়োগ সংক্রান্ত প্রজ্ঞাপন।</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/402.pdf">ভোটার তালিকায় রোহিঙ্গা অন্তর্ভুক্তি প্রসঙ্গে</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/398.pdf">খসড়া ভোটার তালিকা ২০১৪-২০১৫ স্থানীয়ভাবে মুদ্রণ ও মুদ্রণ কাজ তদারকি প্রসঙ্গে।</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/399.pdf" >খসড়া ভোটার তালিকা ২০১৪-২০১৫ স্থানীয়ভাবে মুদ্রণ প্রসঙ্গে।</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/374.pdf" >ভোটার তালিকা হালনাগাদকরণ ২০১৪-এর  সময়সীমা বর্ধিতকরণ</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/370.pdf">ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪ (তৃতীয় পর্যায়)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/369.pdf">ভোটার রেজিষ্ট্রেশন পরিকল্পনা</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/363.pdf">ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪ (তৃতীয় পর্যায়)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/359.2">ভোটার তালিকা হালনাগাদ কার্যক্রমে সহযোগিতা প্রদান</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/358.1">ভোটার তালিকা হালনাগাদ কার্যক্রমে সহযোগিতা প্রদান</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/211.PDF" >২য় পর্যায় থেকে ৩য় পর্যায়ে পরিবর্তন (নারায়ণগঞ্জ সদর, বন্দর)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/343.PDF">ভোটার তালিকা হালনাগাদ এর তথ্য</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/194.pdf">বিশেষ এলাকা হিসেবে ঘোষণা</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/190.PDF">২য় পর্যায় থেকে ৩য় পর্যায়ে পরিবর্তন (নকলা, মাদারীপুর সদর)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/189.PDF">ভোটার তালিকা হালনাগাদকরণ ২০১৪-এর  সময়সীমা বর্ধিতকরণ (১ম পর্যায়)</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/341.PDF" >সংবাদ বিজ্ঞপ্তি : ভোটার তালিকা হালনাগাদ সম্পর্কে </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/MenuExternalFilesEng/341.PDF">সংবাদ বিজ্ঞপ্তি : ভোটার তালিকা হালনাগাদ সম্পর্কে </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/162.pdf">ভোটার তালিকা হালনাগাদকরণ ২০১৪-এর সময়সূচী </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/163.PDF">ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪ উপলক্ষে মানিটরিং কমিটি গঠণ </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/164.PDF" >ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪ উপলক্ষে জনবল নিয়োগ </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/165.PDF">ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪ উপলক্ষে বিভিন্ন পর্যায়ের কমিটি গঠণ </a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/166.PDF">ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪-এর সময়সূচী</a></li>
                                <li><a target="blank" href="http://www.ec.org.bd/NewsFilesEng/167.PDF" >ভোটার তালিকা হালনাগাদ কার্যক্রম ২০১৪ উপলক্ষে রেজিস্ট্রেশন অফিসার নিয়োগ </a></li>


                            </ul>

                        </div>






                        <ul>

                            <li style=" list-style-type: none;"><h4 style=" text-align: left;margin-left: -17px;">{{'DownLogo'|translate}}</h4></li>

                            <li><a target="_self" href="downloads/logo-red-en.png" download="logo-red-en.png">{{'Logo-Red-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-blue-en.png" download="logo-blue-en.png">{{'Logo-Blue-en'|translate}}</a></li>

                            <li><a target="_self" href="downloads/logo-red-bn.png" download="logo-red-bn.png">{{'Logo-Red-bn'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-blue-bn.png" download="logo-blue-bn.png">{{'Logo-Blue-bn'|translate}}</a></li>
                         </ul>
                            <ul>

                                <li style=" list-style-type: none;"><h4 style=" text-align: left;margin-left: -17px;">{{'DownPlacard'|translate}}</h4></li>

                            <li><a target="_self" href="downloads/pdf-red-en.pdf" download="pdf-red-en.pdf">{{'Placard-Red-Logo-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/pdf-blue-en.pdf" download="pdf-blue-en.pdf">{{'Placard-Blue-Logo-en'|translate}}</a></li>



                            <li style=" display: none;"><a target="_self" href="downloads/pdf-red-en.pdf" download="pdf-red-en.pdf">{{'Placard-Red-Logo-bn'|translate}}</a></li>
                            <li style=" display: none;"><a target="_self" href="downloads/pdf-blue-en.pdf" download="pdf-blue-en.pdf">{{'Placard-Blue-Logo-bn'|translate}}</a></li>

                        </ul>











                    </div>

                    <div class="col-md-6" id="downright" style=" display: none;">
                        <h4>{{'ENGLISH'|translate}}</h4>
                        <ul>
                            <li><a target="_self" href="downloads/pdf-red-en.pdf" download="pdf-red-en.pdf">{{'Placard-Red-Logo-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/pdf-blue-en.pdf" download="pdf-blue-en.pdf">{{'Placard-Blue-Logo-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-red-en.png" download="logo-red-en.png">{{'Logo-Red-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-blue-en.png" download="logo-blue-en.png">{{'Logo-Blue-en'|translate}}</a></li>



                        </ul>
                    </div>


                </div>
            </div>



        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="wom_slide" style="height: auto;" ng-controller="CarouselDemoCtrl">


            <carousel interval="myInterval">
                <slide active="slide.active">
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-1.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-2.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-10.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-3.JPG"/>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-11.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-6.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-7.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-12.JPG"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-9.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-5.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-4.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-8.JPG"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-13.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-14.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-15.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-16.jpg"/>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-17.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-18.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-19.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-20.jpg"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-21.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-22.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-23.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-24.jpg"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-25.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-26.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-27.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-28.jpg"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-29.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-30.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-31.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-32.jpg"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-33.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-34.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-35.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-36.jpg"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-37.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-38.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-39.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-40.jpg"/>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-41.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-42.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-43.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-44.jpg"/>
                        </div>
                    </div>
                </slide>



                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-67.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-68.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-69.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-70.jpg"/>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-71.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-72.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-73.jpg"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-74.jpg"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-75.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-76.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-77.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-78.JPG"/>
                        </div>
                    </div>
                </slide>



                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-45.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-46.jpg"/>
                        </div>

                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-47.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-48.jpg"/>
                        </div>

                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-49.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-50.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-51.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-52.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-53.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-54.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-55.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-56.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-57.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-58.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-59.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-60.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-61.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-62.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-63.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-64.jpg"/>
                        </div>

                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-6" style=" padding-right: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-65.jpg"/>
                        </div>
                        <div class="col-md-6" style=" padding-left: 5px;">
                            <img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/slide-66.jpg"/>
                        </div>

                    </div>
                </slide>




                <!--<slide>-->
                    <!--<div>-->



                        <!--<div class="col-md-3">-->
                            <!--<img class="img-thumbnail" width="906" height="600" src="slide/images/slide-4.JPG"/>-->
                        <!--</div>-->
                        <!--<div class="col-md-6" style=" ">-->
                            <!--<img class="img-thumbnail" style=" width: 560px;height: 376px;" width="906" height="600" src="slide/images/wcg-1.jpg"/>-->
                        <!--</div>-->
                        <!--<div class="col-md-3">-->
                            <!--<img class="img-thumbnail" width="906" height="600" src="slide/images/slide-8.JPG"/>-->
                        <!--</div>-->





                    <!--</div>-->
                <!--</slide>-->






            </carousel>




        </div>
    </div>

    <div class="row" style=" margin-top: 50px;">
        <div class="col-md-12" style=" padding-left: 2px;padding-right: 0;">

            <div class="ngo-logo-div" style=" padding-left: 2px;padding-right: 0;">
                <a href="http://www.mahilaparishad.org" target="_blank">
                    <img class="img-thumbnail1" width="906" height="600" src="ngologo/mahila-parishad.png"/>
                </a>
            </div>

            <div class="ngo-logo-div">
                <a href="http://bikoshitonari.net" target="_blank">
                    <img style="width: 95px;" class="img-thumbnail1" width="210" height="600" src="ngologo/bikoshitonari-logo.png"/>
                </a>

            </div>



            <div class="ngo-logo-div">
                <a href="http://www.brotee.org" target="_blank">
                    <img class="img-thumbnail1" width="906" height="600" src="ngologo/brotee.png"/>
                </a>
            </div>
            <div class="ngo-logo-div">
                <a href="http://ekbangladesh.com.bd" target="_blank">
                    <img class="img-thumbnail1" width="906" height="600" src="ngologo/ek-bd.png"/>
                </a>

            </div>
            <div class="ngo-logo-div">
                <a href="http://www.ewgbg.org" target="_blank">
                    <img class="img-thumbnail1" style="width: 160px; height: 115px;" width="906" height="600" src="ngologo/ewg.png"/>
                </a>

            </div>








        </div>
    </div>


    <div class="row" style=" margin-top: 20px;">
        <div class="col-md-12" style=" padding-left: 2px;padding-right: 0;">

            <div class="ngo-logo-div" style=" padding-left: 0">
                    <a href="http://iid.org.bd" target="_blank">
                        <img class="img-thumbnail1" width="210" height="600" src="ngologo/iid.png"/>
                    </a>

                </div>

        <div class="ngo-logo-div" style=" width: 15%">
            <a href="http://jaago.com.bd" target="_blank">
                <img style=" width: 150px;" class="img-thumbnail1" width="906" height="600" src="ngologo/jaago.png"/>
            </a>
        </div>
            <div class="ngo-logo-div">
            <a href="http://kabidang.wordpress.com" target="_blank">
                <img class="img-thumbnail1"  width="906" height="600" src="ngologo/kabidang2.png"/>
            </a>
        </div>
            <div class="ngo-logo-div">
            <a href="http://kmkscht.wordpress.com" target="_blank">
                <img class="img-thumbnail1" width="906" height="600" src="ngologo/KMKS1.png"/>
            </a>
        </div>
            <div class="ngo-logo-div">
            <a href="http://bdawl.org/vision-mission.html" target="_blank">
                <img class="img-thumbnail1" style="width: 160px; height: 115px;" width="906" height="600" src="ngologo/together-we-win1.png"/>
            </a>
        </div>

    </div>
</div>




    <div class="row">
        <div class="col-md-12" id="wom_footer" style="height: 3em;" >

            <h6 class="pull-right">{{'copywright'|translate}} &copy; {{'c2015'|translate}}</h6>
            </div>
        </div>




</div>
<style>
    tr.vu_data td{text-align: right}

</style>

