

<div style=" padding: 10px;">
    <form>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="form-group">
            <label for="inputname">Name</label>
            <input type="text" class="form-control" ng-model="pledg.name" id="inputname" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="inputemail">Email address</label>
            <input type="email" class="form-control" ng-model="pledg.email" id="inputemail" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="inputphone">Phone</label>
            <input type="text" class="form-control" ng-model="pledg.phone" id="inputphone" placeholder="Phone">
        </div>





    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="okandsave()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
    </form>
</div>
