<style>
    .btn-primary{

        background-color: #248DA1;
        border-color: #248DA1;
    }
</style>

<div style=" padding: 0px;height: 680px;">
    <div class="col-md-12"   style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >
       <h3 style=" text-align: center;color:#1B90A2;text-transform: uppercase;font-weight: bold; ">{{'phasethree-textt'|translate}}</h3>

        <leaflet defaults="defaults" class=" animated zoomIn" id="map" layers="layers" center="bd" markers="markers"
                 geojson="geojson" width="100%" height="680px"></leaflet>




    </div>

</div>
