<style>
    .btn-primary{

        background-color: #248DA1;
        border-color: #248DA1;
    }
</style>

<div style=" padding: 10px;height: 680px;padding: 2em;">
    <div class="col-md-12" id="" style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >
        <tabset justified="true" class="my-tabset-head">

            <tab select="go('/ewg/Press Statement-BN.pdf')">
                <tab-heading>
                    <!-- <span class="councilor-results"> <img src="/images/slides/vb-councilor.png" /></span> -->
                    <h4><i class="fa fa-file-pdf-o"></i> Bangla</h4>
                </tab-heading>
            </tab>

            <tab select="go('/ewg/Press Statement-EN.pdf')">
                <tab-heading>
                    <!-- <span class="councilor-results"> <img src="/images/slides/vb-mayor.png" /></span> -->
                    <h4><i class="fa fa-file-pdf-o"></i> English</h4>
                </tab-heading>
            </tab>

        </tabset>
        <div class="row-fluid tabset-view" ui-view>
             <embed ng-if="pdfname == '/ewg/Press Statement-BN.pdf'" src="/ewg/Press Statement-BN.pdf" style="width: 100%; height: 840px;"></embed>

            <embed ng-if="pdfname == '/ewg/Press Statement-EN.pdf'" src="/ewg/Press Statement-EN.pdf" style="width: 100%; height: 840px;"></embed>


        </div>


        <a style="margin-right: 10px;cursor: pointer;display: block;color: #248da1; font-weight: bold; " class="btn btn-sm" id="downlo-blt"  href=""  ui-sref="home">Back</a>


    </div>

</div>
