<style>
    .btn-primary{

        background-color: #248DA1;
        border-color: #248DA1;
    }
</style>

<div style=" padding: 10px;height: 680px;padding: 2em;">
    <div class="col-md-12"  style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >
       <h3 style=" text-align: center;color:#1B90A2;text-transform: uppercase;font-weight: bold; ">{{'pressconf-textt'|translate}}</h3>

        <div class="col-md-6"  >
            <h4 style=" text-align: left;display: none;">{{'midia-lnk'|translate}}</h4>
            <ul>


                <li><a target="_self" href="http://www.banglanews24.com/fullnews/bn/418864.html" >banglanews24</a></li>
                <li><a target="_self" href="http://www.unitednews24.com/?p=79280" >unitednews24</a></li>

                <li><a target="_self" href="http://bangla.bdnews24.com/bangladesh/article1014174.bdnews" >bdnews24</a></li>
                <li><a target="_self" href="http://www.thedailystar.net/city/campaign-starts-increase-number-female-voters-130081" >thedailystar</a></li>


            </ul>

        </div>

        <div class="col-md-6"  >

            <ul>


                <li><a target="_self" href="http://www.jagonews24.com/national/news/46877/%E0%A6%B8%E0%A6%AC-%E0%A6%A8%E0%A6%BE%E0%A6%B0%E0%A7%80-%E0%A6%AD%E0%A7%8B%E0%A6%9F%E0%A6%BE%E0%A6%B0-%E0%A6%B9%E0%A6%93-%E0%A6%AA%E0%A7%8D%E0%A6%B0%E0%A6%9A%E0%A6%BE%E0%A6%B0%E0%A6%BE%E0%A6%AD%E0%A6%BF%E0%A6%AF%E0%A6%BE%E0%A6%A8%E0%A7%87%E0%A6%B0-%E0%A6%89%E0%A6%A6%E0%A7%8D%E0%A6%AC%E0%A7%8B%E0%A6%A7%E0%A6%A8" >jagonews24</a></li>
                <li><a target="_self" href="http://www.breakingnews.com.bd/articles/women_children/breakingnews.64786.details" >breakingnews</a></li>

                <li><a target="_self" href="http://deshersangbad.com/%E0%A6%AD%E0%A7%8B%E0%A6%9F%E0%A6%BE%E0%A6%B0-%E0%A6%AC%E0%A6%BE%E0%A7%9C%E0%A6%BE%E0%A6%A4%E0%A7%87-%E0%A6%B8%E0%A6%AC-%E0%A6%A8%E0%A6%BE%E0%A6%B0%E0%A7%80-%E0%A6%AD%E0%A7%8B%E0%A6%9F%E0%A6%BE/" >deshersangbad</a></li>
                <li><a target="_self" href="http://m.banglatribune.com/tribune/single/108050" >banglatribune</a></li>


            </ul>

        </div>





        <div class="col-md-12"   >
            <div class="col-md-6"  >
                <img class="img-thumbnail"  width="906" height="600" src="presscon/1.jpg"/>

            </div>
            <div class="col-md-6"  >
                <img class="img-thumbnail"  width="906" height="600" src="presscon/2.jpg"/>

            </div>


        </div>


        <div class="col-md-12"  style=" margin-top: 30px;" >
            <div class="col-md-6"  >
                <img class="img-thumbnail"  width="906" height="600" src="presscon/3.jpg"/>

            </div>
            <div class="col-md-6"  >
                <img class="img-thumbnail"  width="906" height="600" src="presscon/4.jpg"/>

            </div>


        </div>








        <div class="col-md-12"  style="position:relative;margin:0px;padding:0px;margin-top: 20px;" >

        <a style="margin-right: 10px;cursor: pointer;display: block;color: #248da1; font-weight: bold; " class="btn btn-sm" id="downlo-blt"  href=""  ui-sref="home">Back</a>
</div>

    </div>

</div>
