 <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="color:white;display: none;" class="navbar-brand" ui-sref="home"><i class="fa fa-home"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="display: none;">

            <li><a ui-sref-active='active' ui-sref="about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-cog"></i> Action</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Another action</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header"><i class="fa fa-cog"></i> Nav header</li>
                <li><a href="#"><i class="fa fa-cog"></i> Separated link</a></li>
                <li><a href="#"><i class="fa fa-cog"></i> One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-right:10px;display: none;"><p class="navbar-btn"><a class="btn btn-sm btn-primary" ui-sref="app_eight"><i class="fa  fa-bullhorn"></i>2008 Election</a></p></li>
            <li style="padding-right:10px;display: none;"><p class="navbar-btn"><a class="btn btn-sm btn-primary" ui-sref="app_seven"><i class="fa  fa-bullhorn"></i> Violance Report</a></p></li>
            <li style="padding-right:10px;"><p class="navbar-btn"><a class="btn btn-sm btn-primary" ui-sref="app_four"><i class="fa fa-bar-chart"></i> Voter List Update</a></p></li>
            <li style="padding-right:10px;display: none;"><p class="navbar-btn"><a class="btn btn-sm btn-primary" ui-sref="app_six"><i class="fa fa-user-secret"></i> Voting Power Index </a></p></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div ui-view>


    </div> <!-- /container -->

 
 