
a.active {
    font-weight: bold;
}

body {
    padding-top: 54px;
    /*background-color:#232C35;*/
    background-image: url('images/body-bg.png');

}

.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;

&
.in-remove {
    animation-name: collapse;
    display: block;
}

&
.in-add {
    animation-name: expand;
}

}
#map_left_column {
    /*background: #232C35;*/
    padding: 0 0.5em;
    margin-left: 0px;
    overflow: hidden;
    height: 100%;

}

#map_right_column {
    /*padding:10px;*/
    /*background-color: #F5F5F5;*/
    /*box-shadow: 0px 0px 10px silver,0px 0px 2px gray inset;*/
    background-color: #fff;
    padding-right: 0;
    padding-left: 0;
}

div.well {
    border-radius: 0px;
}

.navbar-inverse {
    background-color: #33414E;
    border-color: #080808;
    box-shadow: 0 0 43px black, 0px 0px 37px black inset;
}

#map_header_h2 {
    margin: 0px;
    padding: 13px;
    background-color: #2F9FE0;
    color: white;
    box-shadow: 0 0 26px black, 0px 0px 14px navy inset;

    font-weight: 100;
    font-size: 24px;

}

#map_desc_div {
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 0 20px 20px;
}

#map_header_div {
    background: #232C35;
    color: white;
}

.map_side_pop_div {
    background: #eaeaea;
    /*opacity: 0.4;*/
    color: #000;
    padding: 3px;
    box-shadow: 0px 0px 5px black;
    /*position: absolute;*/
    top: 20px;
    /*right: 40px;*/
    /*right: 15%;*/
    /*z-index: 100*/
}

.brown_badge {
    background-color: brown;
}

.blue_badge {
    background-color: blue;
}

.map_header_h4 {
    margin: 0px;
    padding: 5px;
    background: #647271;
    color: white;
    /*border-bottom: 1px solid #EAEAEA;*/
    /*border-top: 1px solid #3d4e5d;*/
    font-weight: 100;
    letter-spacing: 2px;
    /*box-shadow: 0 0 26px black, 0px 0px 14px black inset;*/
    transition: background-color 0.8s ease;

}

.map_header_h4:hover {
    /*box-shadow: 0 0 26px black, 0px 0px 10px silver;*/
    /*background-color: #1F3042;*/
}

.map_header_h4_a {
    color: white;
    border-bottom: 1px solid #29343f;
    border-top: 1px solid #3d4e5d;
}

.collapse.am-collapse {
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;

&
.in-remove {
    animation-name: collapse;
    display: block;
}

&
.in-add {
    animation-name: expand;
}

}
#map_container {
    box-shadow: 0 0 10px black, 0px 0px 0px #fff inset;
    background: #ffffff;
    border: 10px solid #fff;
}

.map_sub_panel {
    box-shadow: 0px 0px 10px #444 inset;
    background: white;
    padding: 20px;
    background: url('/images/kindajean.png');
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.map_sub_panel table {
    border: 3px solid white;
    box-shadow: 0 0 0 1px #ccc;
}

table {

}

.map_sub_panel table tr {
    text-shadow: 1px 1px 1px white;
    border-top: solid 1px white;
    background: #f3f3f3;
    border-bottom: solid 1px silver;
}

.map_sub_panel table tr:hover {
    border-left: solid 4px black;
    background: #eaeaea;
}

.map_sub_panel h4 {
    margin-top: 0px;
}

.leaflet-container a.leaflet-popup-close-button {
    background: none repeat scroll 0 0 black;
    border-radius: 35px;
    color: white;
    font: bold 16px/14px Tahoma, Verdana, sans-serif;
    height: 30px;
    padding: 6px;
    position: absolute;
    right: -11px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 30px;
}

.map_header_h4 i {
    color: #81c153
}

.map_header_h4:hover i {
    color: orange
}

.leaflet-popup-content-wrapper {
    box-shadow: 0 0 10px black, 0px 0px 39px silver inset;
}

.leaflet-popup-tip {
    background-color: #eaeaea;
}

table.map_table {

    margin-top: 20px;
    padding: 5px;
    border: 3px solid white;
    box-shadow: 0 0 0 1px #ccc;
}

table.map_table tr {
    cursor: pointer;
}

table.map_table tr:hover {
    background-color: #ccc;

    transition: background-color 0.8s ease;

}

/*---------------Arif Start------------------*/

@font-face {
    font-family: 'MyWebFont';
    src: url('fonts/Josefin-Sans/josefinsans-bold-webfont.eot');
    src: url('fonts/Josefin-Sans/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Josefin-Sans/josefinsans-bold-webfont.woff') format('woff'),
    url('fonts/Josefin-Sans/josefinsans-bold-webfont.ttf') format('truetype'),
    url('fonts/Josefin-Sans/josefinsans-bold-webfont.svg#webfont') format('svg');
}

#wo_round {
    font-family: 'MyWebFont';
    font-size: 50px;
    /*background: #ff6666;*/
    /*padding: 2em 0.5em;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*border-radius: 20px;*/
}

#women_logo {
    vertical-align: middle;
}

#women_logo img {
    /*margin-left: 5em;*/
    /*max-width: 85%;*/
    /*max-width: 80%;*/
    text-align: center;
    vertical-align: middle;
}

#women_count {

    padding: 1.5em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

}

/*#women_count img {*/
    /*/!*margin-left: 5em;*!/*/
    /*/!*max-width: 75%;*!/*/
    /*margin-top: 1.5em;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/

#women_count img {
    margin-left: 10px;
    margin-top: 2em;
    text-align: center;
    vertical-align: middle;
    max-width: 75%;
}

#missing_text {
    font-family: 'Oswald', sans-serif;
    font-size: 2.3em;
    margin-bottom: 43px;
    margin-top: 0;
    text-align: justify;

}

#pledge{

    color: #248da1  ;
    font-family: "Oswald",sans-serif;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.3em;
    /*margin-top: 45px;*/
    margin-top: 10px;
    text-align: center;
    text-decoration: none;

}

#pledge a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #248DA1;
}
#pledge img{
    /*max-width: 80%;*/
}


#presscon{
    font-family: 'Oswald', sans-serif;
    color: #248DA1;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3em;
    text-decoration: none;
    margin-top: 10px;
}

#presscon a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: #248DA1;
}

#presscon img{
    /*max-width: 80%;*/
}




.count_pop_div {
    background: #eaeaea;
    /*opacity: 0.4;*/
    color: #000;
    padding: 3px;
    box-shadow: 0px 0px 5px black;
    /*position: absolute;*/
    top: 20px;
    /*right: 40px;*/
    /*right: 15%;*/
    /*z-index: 100*/
}

/*#count{*/
    /*margin: 0px;*/
    /*padding: 5px;*/
    /*border: 0.2em solid #647271;*/

    /*background: #84BEC6;*/
    /*color: white;*/
    /*/!*border-bottom: 1px solid #EAEAEA;*!/*/
    /*/!*border-top: 1px solid #3d4e5d;*!/*/
    /*font-weight: 100;*/
    /*letter-spacing: 2px;*/
    /*box-shadow: 0 0 26px black, 0px 0px 14px black inset;*/
    /*transition: background-color 0.8s ease;*/
    /*border-radius: 2em;*/
    /*font-size: 1.5em;*/
    /*text-align: center;*/
    /*margin-top: 1.2em;*/
/*}*/

#count {
    background: #84bec6   none repeat scroll 0 0;
    border: 4px solid #77b0b8  ;
    border-radius: 1em;
    box-shadow: 0 0 14px -3px #7cb5bd   inset;
    color: white;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 1.4em 0 0;
    padding: 5px;
    text-align: center;
    transition: background-color 0.8s ease 0s;
}




#wom_slide {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
}

#wom_slide .col-md-3 {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#wom_slide .carousel-indicators {
    bottom: -40px;
}

#wom_slide .carousel-indicators .active {
    background-color: #9f9f9f  ;
    height: 12px;
    margin: 0;
    width: 12px;
}

#wom_slide .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.2)  ;
    border: 1px solid #afafaf  ;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    width: 10px;
}


.topinfo {
    color: #8a8a8a  ;
    margin-top: -40px;
    /*position: absolute;*/
    /*right: 230px;*/
    width: 400px;
    text-align: right;
}

#downlo-blt {
    background-color: #efefef;
    border-radius: 3px;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    padding: 13px 30px;
    text-transform: uppercase;
    width: 100%;
   margin-bottom: 10px;
    margin-top: 10px;
}

#downlo-blt:hover {
    background-color: #DFDFDF;
}

#downleft{
    /*background-color: #dfdfdf;*/
    padding: 20px;

}

#downleft h4{
    text-align: center;
}

#downright{
    background-color: #efefef;
    padding: 20px;

}
#downright h4{
    text-align: center;
}

.page-header h2{

    font-family: 'Oswald', sans-serif;
}



/*-----------------Maher---------------*/
.col-md-6 li {
    line-height: 2;
    list-style: outside none none;
}
a {
    color: #649ea6  ;
    text-decoration: none;
    text-shadow: 0 1px 1px #fff;
}


/*-----------------Arif End---------------*/


#wom_slide {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
}

#downlo-blt {
    background-color: #efefef  ;
    border: 1px solid #ffffff  ;
    border-radius: 23px;
    box-shadow: 0 24px 5px -24px #535353  , 0 12px 10px 0 #ffffff   inset;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 13px 30px;
    text-transform: uppercase;
    width: 100%;
}

/*#missing_text {*/
    /*font-family: "Oswald&q*/
    /*uot;,sans-serif;*/
    /*font-size: 3em;*/
    /*margin-bottom: 43px;*/
    /*margin-top: 0;*/
    /*text-align: justify;*/
/*}*/



.map_side_pop_div {
    background: #647271   none repeat scroll 0 0;
    box-shadow: 0 0 5px black;
    color: #000;
    min-height: 230px;
    padding: 3px;
    top: 20px;
    border: 2px solid white;
}

li.active {
    background-color: #399;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    /*background-color:  transparent;*/
    background-color: #399;
    color: #fff;
    border-radius: 0;
}
.nav-tabs>li>a{
    background-color:  transparent;
    border-radius: 0;

}
.ngo-logo-div{
    width: 20%;
    float: left;
}
.ngo-logo-div a:hover{
   /*background-color: #eaeaea;*/
}

.ngo-logo-div img{
    width: 200px;
    height: 100px;
}

/*-----------Bootstrap Overwrite css start--------*/
.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.btn-group-sm > .btn, .btn-sm {
    background-color: rgba(100, 114, 113, 1)  ;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #248DA1;
    border-color: #248DA1;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
     background-color: #248DA1;
     border-color: #248DA1;
}

/*----------Bootstrap Overwrite css end------------*/