
<div class="container" style="" id="map_container">

    <div class="row">
        <div class="row">
            <div class="col-md-4" id="women_logo">

                <img class="img-responsive " src="images/women-logo-isolated.png" />



            </div>
            <div class="col-md-8" id="women_count">
                <img class="img-responsive " style="" src="images/count-isolated.png" />

            </div>

        </div>

        </div>


    <div class="row">
        <div class="col-md-3" id="map_left_column" style="min-height: 500px;">
           <h3 id="missing_text">563,362 Women were missing from the last voter list</h3>
            <h1 id="pledge">Sign the pledge</h1>
        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative" >
            <div ui-view style="width:100%">
                 <div style=" display: none"  ng-show="showme" class=" animated lightSpeedIn map_side_pop_div" style="">
                            <h4 class="map_header_h4">District : {{name}}</h4></li>

                        <h5>
                            <span class="badge pull-right">{{gap}}%</span>
                            Gender Gap (%) 
                        </h5>
                        <h5 >
                            <span class="badge pull-right ">( {{femper}}%)</span>
                            <span class="badge pull-right ">{{feminc}}</span>
                            
                            New Female Voters &nbsp;&nbsp; 
                        </h5>
                        <h5 >
                            <span class="badge pull-right">( {{maleper}}% )</span>
                            <span class="badge pull-right">{{maleinc}}</span>
                            
                            New Male Voters
                        </h5>
           

                </div>
                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>
           </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="wom_slide" style="min-height: 500px;" >

            <div ng-controller="CarouselDemoCtrl">
                <div style="height: 305px">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <h4>Slide {{$index}}</h4>
                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
                    </div>
                    <div class="col-md-6">
                        Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
                        <br />Enter a negative number or 0 to stop the interval.
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>
<style>
    tr.vu_data td{text-align: right}

</style>

