
<div class="container" style="" id="map_container">

    <div class="row" style="padding-left: 0">

            <div class="col-md-3" id="women_logo" style="padding-left: 0">
                <img class="img-responsive " src="images/women-logo-isolated.gif" />
            </div>
            <div class="col-md-9" id="women_count">
                <img class="img-responsive " style="" src="images/count-isolated.png" />

            </div>



    </div>


    <div class="row">
        <div class="col-md-3" id="map_left_column" style="min-height: 500px;">
            <h3 id="missing_text">558,103 Women were missing from the last voter list</h3>

            <div style="min-height: 217px;width: 100%">

                <div ng-hide="showdfme" class=" animated1 lightSpeedIn map_side_pop_div" style="height: 217px; ">
                    <h4 class="map_header_h4" style="height: 100%;">Scroll over your district in the map to find out the number of missing women from the voters roll in 2014</h4>

                </div>





                <div style=" "  ng-show="showme" class=" animated1 lightSpeedIn map_side_pop_div" style="">
                    <h4 class="map_header_h4">District : {{name}}</h4>
                    <img class="img-circle" style="max-width:40%;margin: 0 auto;display: block;"  src="images/women-avatar.png">
                    <h4 class="map_header_h4">{{missfem}} Women were missing from the roll in 2014</h4>
                </div>
            </div>

            <h1 id="pledge"><a href="" ui-sref="home.pledgcountform" >Sign the pledge</a></h1>
           <div class="count_pop_div1">
            <h3 id="count">Count:{{$root.recount}}</h3>
           </div>

        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative" >
            <div ui-view style="width:100%">

                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="wom_slide" style="height: auto;" ng-controller="CarouselDemoCtrl">


            <carousel interval="myInterval">
                <slide active="slide.active">
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-1.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-2.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-10.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-3.JPG"/>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-11.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-6.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-7.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-12.JPG"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-9.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-5.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-4.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-8.JPG"/>
                        </div>
                    </div>
                </slide>


            </carousel>




        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="wom_footer" style="height: 3em;" >

            <h6 class="pull-right">copywright &copy; 2015</h6>
            </div>
        </div>




</div>
<style>
    tr.vu_data td{text-align: right}

</style>

