
<div class="container" style="" id="map_container">

    <div class="row" style="padding-left: 0">

            <div class="col-md-3" id="women_logo" style="padding-left: 0">
                <img class="img-responsive " ng-src="{{'women_logo'|translate}}"  />
            </div>
            <div class="col-md-9" id="women_count">
                <img class="img-responsive " ng-src="{{'count_logo'|translate}}" style=""  />

            </div>



    </div>


    <div class="row">
        <div class="col-md-3" id="map_left_column" style="min-height: 500px;">
            <h3 id="missing_text">{{'558,103 Women were missing from the last voter list'|translate}}</h3>

            <div style="min-height: 217px;width: 100%">

                <div ng-hide="showdfme" class=" animated1 lightSpeedIn map_side_pop_div" style="height: 217px; ">
                    <h4 class="map_header_h4" style="height: 100%;">{{'Scroll-over-your-district'|translate}}</h4>

                </div>





                <div style=" "  ng-show="showme" class=" animated1 lightSpeedIn map_side_pop_div" style="">
                    <h4 class="map_header_h4">{{'District'|translate}} : {{name |translate}}</h4>
                    <img class="img-circle" style="max-width:40%;margin: 0 auto;display: block;"  src="images/women-avatar.png">
                    <h4 class="map_header_h4">{{missfem |translate}} {{'missing-from-role'|translate}}</h4>
                </div>
            </div>

            <h1 id="pledge">
                <a href="" ui-sref="home.pledgcountform" >
                    <img class="img-responsive " ng-src="{{'sign-pl-img'|translate}}" style=""  />

                </a>


            </h1>
           <div class="count_pop_div1" style=" display: none;">
            <h3 id="count">{{'Count'|translate}} :{{$root.recount}}</h3>
           </div>

        </div>


        <div class="col-md-9" id="map_right_column" style="position:relative" >
            <div ui-view style="width:100%">

                <leaflet defaults="defaults"  class=" animated zoomIn"  id="map" layers="layers" center="bd" geojson="geojson" width="100%" height="680px"></leaflet>
            </div>





            <button  ng-click="toggle()" value="Toggle" class="btn btn-sm" id="downlo-blt"  style="margin-right: 10px;cursor: pointer;display: block;color: #248da1; font-weight: bold;">{{'Campaign-resources-btn'|translate}}</button>



            <div style=" display: none;" class="div1" toggle>
                <div class="page-header" style=" margin-top: 0;margin-bottom: 0em;">
                    <h2 style=" margin-top: 0">{{'Downloads'|translate}} </h2>



                </div>
                <div class="row" style=" padding: 0 15px">

                    <div class="col-md-6" id="downleft" style=" background-color: none;">
                        <h4 style=" display: none;">{{'BANGLA'|translate}}</h4>
                        <ul>

                            <li><h4 style=" text-align: left;">{{'DownLogo'|translate}}</h4></li>

                            <li><a target="_self" href="downloads/logo-red-en.png" download="logo-red-en.png">{{'Logo-Red-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-blue-en.png" download="logo-blue-en.png">{{'Logo-Blue-en'|translate}}</a></li>

                            <li><a target="_self" href="downloads/logo-red-bn.png" download="logo-red-bn.png">{{'Logo-Red-bn'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-blue-bn.png" download="logo-blue-bn.png">{{'Logo-Blue-bn'|translate}}</a></li>
                         </ul>
                            <ul>

                                <li><h4 style=" text-align: left;">{{'DownPlacard'|translate}}</h4></li>

                            <li><a target="_self" href="downloads/pdf-red-en.pdf" download="pdf-red-en.pdf">{{'Placard-Red-Logo-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/pdf-blue-en.pdf" download="pdf-blue-en.pdf">{{'Placard-Blue-Logo-en'|translate}}</a></li>



                            <li style=" display: none;"><a target="_self" href="downloads/pdf-red-en.pdf" download="pdf-red-en.pdf">{{'Placard-Red-Logo-bn'|translate}}</a></li>
                            <li style=" display: none;"><a target="_self" href="downloads/pdf-blue-en.pdf" download="pdf-blue-en.pdf">{{'Placard-Blue-Logo-bn'|translate}}</a></li>

                        </ul>



                        <ul>
                            <li><h4 style=" text-align: left;">{{'Document'|translate}}</h4></li>

                            <li><a target="_self" href="downloads/Voter-List-Update-Information-EN.pdf" download="Voter-List-Update-Information-EN.pdf">{{'Voter-List-Update-Information-EN'|translate}}</a></li>
                            <li><a target="_self" href="downloads/Voter-List-Update-Information-BN.pdf" download="Voter-List-Update-Information-BN.pdf">{{'Voter-List-Update-Information-BN'|translate}}</a></li>

                            <li><a target="_self" href="downloads/Fact-Sheet-on-Voter-Registration-Process-EN.pdf" download="Fact-Sheet-on-Voter-Registration-Process-EN.pdf">{{'Fact-Sheet-on-Voter-Registration-Process-EN'|translate}}</a></li>
                            <li><a target="_self" href="downloads/Fact-Sheet-on-Voter-Registration-Process-BN.pdf" download="Fact-Sheet-on-Voter-Registration-Process-BN.pdf">{{'Fact-Sheet-on-Voter-Registration-Process-BN'|translate}}</a></li>



                        </ul>

                    </div>

                    <div class="col-md-6" id="downright" style=" display: none;">
                        <h4>{{'ENGLISH'|translate}}</h4>
                        <ul>
                            <li><a target="_self" href="downloads/pdf-red-en.pdf" download="pdf-red-en.pdf">{{'Placard-Red-Logo-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/pdf-blue-en.pdf" download="pdf-blue-en.pdf">{{'Placard-Blue-Logo-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-red-en.png" download="logo-red-en.png">{{'Logo-Red-en'|translate}}</a></li>
                            <li><a target="_self" href="downloads/logo-blue-en.png" download="logo-blue-en.png">{{'Logo-Blue-en'|translate}}</a></li>



                        </ul>
                    </div>


                </div>
            </div>



        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="wom_slide" style="height: auto;" ng-controller="CarouselDemoCtrl">


            <carousel interval="myInterval">
                <slide active="slide.active">
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-1.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-2.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-10.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-3.JPG"/>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-11.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-6.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-7.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-12.JPG"/>
                        </div>
                    </div>
                </slide>

                <slide>
                    <div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-9.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-5.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-4.JPG"/>
                        </div>
                        <div class="col-md-3">
                            <img class="img-thumbnail" width="906" height="600" src="slide/images/slide-8.JPG"/>
                        </div>
                    </div>
                </slide>


            </carousel>




        </div>
    </div>

    <div class="row" style=" margin-top: 50px;">
        <div class="col-md-2" style=" padding-left: 2px;padding-right: 0;">
            <a href="http://www.mahilaparishad.org" target="_blank">
            <img class="img-thumbnail" width="906" height="600" src="ngologo/mahila-parishad.png"/>
           </a>
        </div>

        <div class="col-md-10" style="padding-right: 2px">

            <div class="col-md-3">
                <a href="http://www.brotee.org" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/mahila-parishad.png"/>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://ekbangladesh.com.bd" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/ek-bd.png"/>
                </a>

            </div>
            <div class="col-md-3">
                <a href="http://www.ewgbg.org" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/ewg.png"/>
                </a>

            </div>
            <div class="col-md-3" style="padding-right: 0;margin-left: 0px;text-align: right">
                <a href="http://iid.org.bd" target="_blank">
                <img class="img-thumbnail" width="210" height="600" src="ngologo/iid.png"/>
                </a>

            </div>






        </div>
    </div>


    <div class="row" style=" margin-top: 50px;">
        <div class="col-md-3" style=" padding-left: 0">
            <a href="http://jaago.com.bd" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/jaago.png"/>
            </a>
        </div>
        <div class="col-md-3" style="">
            <a href="http://kabidang.wordpress.com" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/mahila-parishad.png"/>
            </a>
        </div>
        <div class="col-md-3" style="">
            <a href="http://kmkscht.wordpress.com" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/mahila-parishad.png"/>
            </a>
        </div>
        <div class="col-md-3" style=" padding-right: 0">
            <a href=":javascript" target="_blank">
                <img class="img-thumbnail" width="906" height="600" src="ngologo/mahila-parishad.png"/>
            </a>
        </div>
    </div>





    <div class="row">
        <div class="col-md-12" id="wom_footer" style="height: 3em;" >

            <h6 class="pull-right">{{'copywright'|translate}} &copy; {{'c2015'|translate}}</h6>
            </div>
        </div>




</div>
<style>
    tr.vu_data td{text-align: right}

</style>

