<style>
    .btn-primary{

        background-color: #248DA1;
        border-color: #248DA1;
    }
</style>

<div style=" padding: 10px;height: 680px;padding: 2em;">

    <div class="page-header" style=" margin-top: 0;margin-bottom: 0em;">
        <h2 style=" margin-top: 0">Downloads </h2>



    </div>
<div class="row">

    <div class="col-md-6">
        <h3>BANGLA</h3>
        <ul>
            <li><a href="">PDF (red logo) plycard</a></li>
            <li><a href="">PDF (blue logo) plycard</a></li>
            <li><a href="">Logo (red)</a></li>
            <li><a href="">Logo (blue)</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h3>ENGLISH</h3>
        <ul>
            <li><a href="">PDF (red logo) plycard</a></li>
            <li><a href="">PDF (blue logo) plycard</a></li>
            <li><a href="">Logo (red)</a></li>
            <li><a href="">Logo (blue)</a></li>
        </ul>
    </div>


</div>



</div>
