<style>
    .btn-primary{

        background-color: #248DA1;
        border-color: #248DA1;
    }
</style>

<div style=" padding: 10px;height: 680px;padding: 2em;">

    <div class="page-header" style=" margin-top: 0;margin-bottom: 0em;">
        <h2 style=" margin-top: 0">Women Count Matters!  </h2>

        <p class="lead" style="line-height: 1.3em;">
            From May to November 2014, the Election Commission Bangladesh (ECB) undertook the process of updating the Bangladesh Voter List. On January 2, 2015 ECB released the draft supplementary list of voters, including those newly added and those who migrated to a new upazila. After analyzing the draft supplementary list, the map in the home page shows the regional and gender variations at the district level. Alarmingly, we see wide gender gap in many of the districts across the country and this raises our concern that if the upcoming voter list update process does not address the disparity amongst the male and female voters, we will have distorted electoral participation and we will be depriving our women from their voting rights in future elections. Join this campaign to bring attention to this gender discrepancy which will otherwise bring dire consequences for our democracy. Please sign-up below:
        </p>

    </div>




    <form style="height: 100%">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="form-group">
            <label for="inputname">Name</label>
            <input type="text" class="form-control" ng-model="pledg.name" id="inputname" placeholder="Name">

        </div>
        <div class="form-group">
            <label for="inputemail">Email address</label>
            <input type="email" class="form-control" ng-model="pledg.email" id="inputemail" placeholder="Email">

        </div>
        <div class="form-group">
            <label for="inputphone">Phone</label>
            <input type="text" class="form-control" ng-model="pledg.phone" id="inputphone" placeholder="Phone">

        </div>


        <div class="modal-footer">
            <a class="btn btn-primary" href=""  ui-sref="home">Back</a>
            <button class="btn btn-primary" ng-click="okandsave()">Submit</button>

        </div>
    </form>
</div>
